
html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 180%;
  color: #333;
  background-color: #f4f4f4;
  text-align: center;
}

.KS_logo{
  background : url(images/KosconStudios_logo_1920x1080.jpg);
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
